---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Technologies from "../components/Technologies.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import About from "../components/About.astro";
---

<div class="bg-[#010819]">
    <!-- <div
    class="absolute top-0 z-[-2] min-h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
> -->
    <Layout>
        <Header />
        <Hero />
        <Technologies />
        <Projects />
        <About />
        <Contact />
    </Layout>
</div>
