<section id="contact" class="py-20">
    <div class="container mx-auto px-6">
        <h2
            class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl mb-8 bg-gradient-to-r from-white to-blue-600 bg-clip-text text-transparent text-center leading-snug"
        >
            Contacto
        </h2>
        <div class="grid md:grid-cols-2 gap-12 justify-center max-w-4xl mx-auto">
            <!-- info contacto -->
            <div class="space-y-4">
                <div class="flex items-center space-x-3 hover:scale-105 transition-all duration-200">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        fill="#e8eaed"
                        ><path
                            d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"
                        ></path></svg
                    >
                    <span class="text-white">franciscoluengosepulveda@gmail.com</span>
                </div>
                <div class="flex items-center space-x-3 hover:scale-105 transition-all duration-200">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        fill="#e8eaed"
                        ><path
                            d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"
                        ></path></svg
                    >
                    <span class="text-white">+56972621936</span>
                </div>
                <div class="flex items-center space-x-3 hover:scale-105 transition-all duration-200">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        fill="#e8eaed"
                        ><path
                            d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"
                        ></path></svg
                    >
                    <span class="text-white">Longaví, Maule, Chile</span>
                </div>
                <div class="flex space-x-4 pt-4">
                    <a
                        href="https://github.com/FranciscoLuengo"
                        class="text-muted-foreground transition-all duration-200 hover:scale-110"
                        ><svg
                            width="20"
                            height="20"
                            viewBox="0 0 1024 1024"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z"
                                transform="scale(64)"
                                fill="#ffff"></path>
                        </svg></a
                    >
                    <a
                        href="https://www.linkedin.com/in/franciscoluengosepulveda/"
                        class="text-muted-foreground transition-all duration-200 hover:scale-110"
                    >
                        <svg
                            width="20"
                            height="20"
                            xmlns="http://www.w3.org/2000/svg"
                            preserveAspectRatio="xMidYMid"
                            viewBox="0 0 256 256"
                            ><path
                                d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453"
                                fill="#ffffff"></path></svg
                        >
                    </a>
                </div>
            </div>

            <!-- formulario -->
            <div class="border p-8 rounded-lg shadow-md max-w-md w-full mx-auto md:mx-0">
                <form name="contact" method="POST" action="https://formspree.io/f/xnnzazbq">
                    <!-- Anti-bot -->
                    <input type="hidden" name="form-name" value="contact" />
                    <p class="hidden">
                        <label>No llenar esto: <input name="bot-field" /></label>
                    </p>

                    <div>
                        <h3 class="text-lg font-semibold mb-4 text-white">Envíame un mensaje</h3>
                    </div>

                    <div class="mb-4">
                        <label for="name" class="block mb-2 text-white text-sm font-bold">Nombre</label>
                        <input
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Tu nombre"
                            class="w-full text-white text-md bg-[#1e293b] px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-white"
                            required
                        />
                    </div>

                    <div class="mb-4">
                        <label for="email" class="block mb-2 text-white text-sm font-bold">Email</label>
                        <input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Tu email"
                            class="w-full text-white px-4 py-2 rounded bg-[#1e293b] focus:outline-none focus:ring-2 focus:ring-white"
                            required
                        />
                    </div>

                    <div class="mb-4">
                        <label for="message" class="block mb-2 text-white text-sm font-bold">Mensaje</label>
                        <textarea
                            id="message"
                            name="message"
                            rows="4"
                            placeholder="Escribe tu mensaje aquí"
                            class="w-full text-white bg-[#1e293b] px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-white"
                            required></textarea>
                    </div>

                    <button
                        type="submit"
                        class="w-full bg-white text-black py-3 rounded transition-all duration-200 hover:scale-105"
                    >
                        Enviar mensaje
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
